@import 'Navbar.css';
@import 'ListItem.css';

body {
  background-color:#2CAF1E;
}
.brand-bg-color {
  background-color:#7DC241;
}

.border-green {
  border:solid 3px #7DC241;
}


.background-white {
  background-color:white;
}
